<div class="span4">


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),    :html => {:class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

   <div><%= f.input :contact_name %></div>

   <div><%= f.input :company %></div>

  <div><%= f.input :email %></div>

   <div><%= f.input :username %></div>

   <div><%= f.input :password %></div>

   <div><%= f.input :password_confirmation %></div>
<div><%= f.check_box :terms_and_conditions %> <%= f.label :terms_and_conditions %></div>
<div><%= f.submit "Sign up" %></div>
</div>
<% end %>
<div class="span4">
</br></br></br>
<%= render :partial => "devise/shared/links" %></div>
